{:paths ["src" "resources"]
 :deps {com.hyperfiddle/electric       {:mvn/version "v3-alpha-SNAPSHOT"}
        ring/ring                      {:mvn/version "1.11.0"} ; comes with Jetty
        ring-basic-authentication/ring-basic-authentication {:mvn/version "1.2.0"}
        org.clojure/tools.logging      {:mvn/version "1.2.4"}
        ch.qos.logback/logback-classic {:mvn/version "1.4.14"}

        org.clojure/clojure {:mvn/version "1.11.1"}
        io.replikativ/datahike {:mvn/version "0.6.1594"}
        clj-python/libpython-clj {:mvn/version "2.025"}
        morse/morse {:mvn/version "0.4.3"}
        io.replikativ/kabel {:mvn/version "0.2.2"}
        http-kit/http-kit {:mvn/version "2.7.0"}
        metosin/reitit {:mvn/version "0.7.0-alpha7"}
        io.github.nextjournal/markdown {:mvn/version "0.5.148"}
        hiccup/hiccup {:mvn/version "2.0.0-RC3"}
        org.clj-commons/hickory {:mvn/version "0.7.5"}
        selmer/selmer {:mvn/version "1.12.62"}
        markdown-clj/markdown-clj {:mvn/version "1.12.3"}
        ring/ring-jetty-adapter {:mvn/version "1.12.0"}
        etaoin/etaoin {:mvn/version "1.1.41"}
        pdfboxing/pdfboxing {:mvn/version "0.1.14"}
        remus/remus {:mvn/version "0.2.4"}
        nrepl/nrepl {:mvn/version "1.1.1"}
        cider/cider-nrepl {:mvn/version "0.47.1"}
        io.replikativ/datahike-dynamodb {:mvn/version "0.1.8"}
        io.replikativ/datahike-s3 {:mvn/version "0.1.13"}

        com.stuartsierra/component {:mvn/version "1.1.0"}

        ;; exploratory
        com.hyperfiddle/rcf {:mvn/version "20220926-202227"}
        org.suskalo/coffi {:mvn/version "1.0.486"}
        cloroutine/cloroutine #_{:local/root "/home/christian/Development/cloroutine"} {:mvn/version "13"}
        missionary/missionary {:mvn/version "b.41"}
        io.github.jbellis/jvector {:mvn/version "3.0.2"}
        pangloss/pattern {:git/url "https://github.com/pangloss/pattern"
                          :sha "93fb43e3223bbcfe08c4e37414709021d8a99604"}
        anglican/anglican {:mvn/version "1.1.0"}
        org.scicloj/clay {:mvn/version "2-beta24"}
        ;; sci interpreter
        org.babashka/sci {:mvn/version "0.9.44"} #_{:local/root "/home/christian/Development/sci"}


        reagent/reagent {:mvn/version "1.1.1"}}
 :aliases
 {:dev {;:main-opts ["-m" "is.simm.simmis" "--middleware" "[cider.nrepl/cider-middleware]"]
        ;:jvm-opts ["--add-modules jdk.incubator.vector"]
        :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
        :extra-paths ["src-dev"]
        :extra-deps  {thheller/shadow-cljs          {:mvn/version "2.26.2"}
                      io.github.clojure/tools.build {:mvn/version "0.9.6"
                                                     :exclusions  [com.google.guava/guava  ; Guava version conflict between tools.build and clojurescript.
                                                                   org.slf4j/slf4j-nop]}}} ; clashes with app logger

  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.9.6"}}
          :ns-default build
          ;:jvm-opts ["--add-modules jdk.incubator.vector"]
          :jvm-opts ["--enable-native-access=ALL-UNNAMED"]}
  :run {:main-opts ["-m" "is.simm.runtimes.ubuntu"]
                ;:jvm-opts ["--add-modules jdk.incubator.vector"]
        :jvm-opts ["--enable-native-access=ALL-UNNAMED"]}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         ;:jvm-opts ["--add-modules jdk.incubator.vector"]
         :jvm-opts ["--enable-native-access=ALL-UNNAMED"]}}}
